body {
    background-image: linear-gradient(#EEE, #FFF);
    font-family: 'Tahoma', Sans-Serif;
}

h1, h5 {text-align: center;}

.wrapper {
    width: 950px; margin: 2em auto 0; padding: 1em; border-radius: 10px;
    border: 1px solid #AAA; box-shadow: 3px 3px #CCC; background: #FFF;
}

#select_list {
    float: left;
    width: 390px;
    font-size: 1.2em;
}

#select_list .wrapper_select {display: none;}

#select_list .wrapper_select:first-child {display: block;}

#select_list .wrapper_select img {width:15px; display: none;}

#select_list > div {margin-bottom: 1em;}

#map {
      height: 600px;
      width: 550px;
      border: solid 1px #CCC;
}