<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Cortex - Eleiçoes</title>

    <link th:href="@{/css/eleicoes.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""/>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""></script>
    <script type="text/javascript" th:src="@{/js/eleicoes.js}"></script>

</head>
<body>

    <h1>Cortex - Eleições</h1>

    <h5>Distribuição de votos por partido nas unidades político-administrativas</h5>

    <div class="wrapper">

        <div id="select_list" th:if="${response.partidoList != null}">

            <div class="wrapper_select">
                Partido:<br/>
                <select id="select_partido">
                    <option></option>
                    <option th:each="partido : ${response.partidoList}" th:value="${partido.nome}" th:text="${partido.nome}"></option>
                </select>
            </div>

            <div class="wrapper_select">
                Região: <img th:src="@{/img/loading.gif}" /><br/>
                <select id="select_regiao" multiple></select>
            </div>

            <div class="wrapper_select">
                Estado: <img th:src="@{/img/loading.gif}" /><br/>
                <select id="select_estado" multiple></select>
            </div>

            <div class="wrapper_select">
                Mesorregião: <img th:src="@{/img/loading.gif}" /><br/>
                <select id="select_meso" multiple></select>
            </div>

            <div class="wrapper_select">
                Microrregião: <img th:src="@{/img/loading.gif}" /><br/>
                <select id="select_micro" multiple></select>
            </div>

            <div class="wrapper_select">
                Município: <img th:src="@{/img/loading.gif}" /><br/>
                <select id="select_municipio" multiple></select>
            </div>

        </div>

        <div id="map"></div>

    </div>


</body>
</html>